Repository wallarm/sidecar, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, controller, documentation, helm

.github/labeler.yml:

ci:
- '.github/**/*'

tests:
- 'helm/test/**/*'

controller:
- 'cmd/*'
- 'files/*'
- 'Dockerfile'
- 'go.*'

documentation:
- 'README.md'
- 'helm/README.md'

helm:
- any: ['helm/**/*', '!helm/values.*.yaml','!helm/Chart.yaml', '!helm/test/**/*', '!helm/README.md']

NODE-5583 add mandatory function
  .github/workflows/ci.yaml
  example-env.ini
  test/smoke/functions.sh
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
Labels: ci

NODE-5583 add dockerhub auth
  .github/workflows/ci.yaml
  test/smoke/run.sh
  test/smoke/workload.yaml
Labels: ci

NODE-5653 Release 5.0.1
  .github/workflows/ci.yaml
  helm/Chart.yaml
  helm/values.yaml
Labels: ci, helm

NODE-5655 add docker auth to tests
  .github/workflows/test.yaml
  helm/test/run_chart_tests.sh
  helm/values.test.yaml
  kind/docker/manifests/init/pytest.yaml
Labels: ci, tests

NODE-5655 add docker auth to tests
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  helm/ci/deployment-existing-secret-values.yaml
  helm/ci/deployment-external-tarantool-values.yaml
  helm/ci/deployment-values.yaml
  test/smoke/run.sh
Labels: ci, helm

NODE-5762 Release 5.0.2
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5655 add docker auth to tests
  .github/workflows/test.yaml
  helm/test/run_chart_tests.sh
  helm/values.test.yaml
  kind/docker/manifests/init/pytest.yaml
Labels: ci, tests

NODE-5762 Release 5.0.2
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  TAG
  helm/ci/deployment-existing-secret-values.yaml
  helm/ci/deployment-external-tarantool-values.yaml
  helm/ci/deployment-values.yaml
  test/smoke/run.sh
  test/smoke/workload.yaml
Labels: ci, helm

NODE-5762 Release 5.0.2
  TAG
  test/smoke/run.sh
  test/smoke/workload.yaml
Labels: none

NODE-5762 Release 5.0.2
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5655 add docker auth to tests
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  helm/ci/deployment-existing-secret-values.yaml
  helm/ci/deployment-external-tarantool-values.yaml
  helm/ci/deployment-values.yaml
  helm/test/run_chart_tests.sh
  helm/values.test.yaml
  kind/docker/manifests/init/pytest.yaml
  test/smoke/run.sh
Labels: ci, tests, helm

NODE-5655 add docker auth to tests
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  helm/ci/deployment-existing-secret-values.yaml
  helm/ci/deployment-external-tarantool-values.yaml
  helm/ci/deployment-values.yaml
  helm/test/integration_test.py
  helm/test/run_chart_tests.sh
  helm/values.test.yaml
  kind/docker/manifests/init/pytest.yaml
  test/smoke/run.sh
Labels: ci, tests, helm

NODE-5762 Release 5.0.2
  TAG
  helm/Chart.yaml
  helm/values.yaml
  test/smoke/run.sh
  test/smoke/workload.yaml
Labels: helm

NODE-5822 Release 5.0.3
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5830 Release 4.10.13
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Update triggers to support non-latest version
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
Labels: ci

Add manual run trigger for workflow
  .github/workflows/build.yaml
Labels: ci

Add manual trigger to workflow
  .github/workflows/build.yaml
Labels: ci

Release 5.1.0
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5888 Use node group instead of node uuid
  .github/workflows/ci.yaml
  Makefile
  test/smoke/functions.sh
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
Labels: ci

NODE-6011 Release 5.2.1
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-6064 Release sidecar 5.2.11
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

test smoke
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

test smoke
  helm/values.yaml
Labels: helm

NODE-5873 add configurable parameters to Sidecar Helm chart
  TAG
  cmd/config.go
  cmd/template.go
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/values.yaml
  test/smoke/functions.sh
  test/smoke/run.sh
Labels: controller, helm

NODE-5565 [Sidecar] Add configuration parameter for Nginx extended logging
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/values.yaml
Labels: controller, helm

test apifw
  test/smoke/run-smoke-suite.sh
Labels: none

NODE-5873 add configurable APIFW parameters to Sidecar Helm chart
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/values.yaml
Labels: controller, helm

Rename tarantool to wstore and cron to wcli
  .gitignore
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/ci/deployment-external-wstore-values.yaml
  helm/templates/_helpers.tpl
  helm/templates/controller-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/templates/postanalytics-service.yaml
  helm/values.yaml
  test/smoke/functions.sh
Labels: controller, helm

NODE-6133 Release 5.3.0
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Release 5.3.7
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Release 5.3.8
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Build new controller
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Update github action version
  .github/workflows/build.yaml
Labels: ci

NODE-6204 Add GitLab CI
  .gitignore
  .gitlab-ci.yml
  .gitlab/chart-publish.sh
  .gitlab/image-sign.sh
  .gitlab/update-version.sh
  Makefile
  helm/test/run_chart_tests.sh
  test/smoke/run.sh
Labels: tests

Release 6.0.0-rc3
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Replace Tarantool with wStore
  files/template.yaml.tpl
  helm/ci/deployment-external-wstore-values.yaml
  helm/templates/_helpers.tpl
  helm/templates/controller-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/templates/postanalytics-service.yaml
  helm/values.yaml
  test/smoke/functions.sh
Labels: controller, helm

Rename crom to wcli
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/templates/_helpers.tpl
  helm/templates/postanalytics-deployment.yaml
  helm/values.yaml
Labels: controller, helm

Release 5.3.10
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

fix: Allure vars
  test/smoke/run-smoke-suite.sh
Labels: none
