Repository wallarm/sidecar, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, controller, documentation, helm

.github/labeler.yml:

ci:
- '.github/**/*'

tests:
- 'helm/test/**/*'

controller:
- 'cmd/*'
- 'files/*'
- 'Dockerfile'
- 'go.*'

documentation:
- 'README.md'
- 'helm/README.md'

helm:
- any: ['helm/**/*', '!helm/values.*.yaml','!helm/Chart.yaml', '!helm/test/**/*', '!helm/README.md']

DEVOPS-2019: Bump Tarantool images to 4.6.4-1
  Makefile
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DEVOPS-2019: Removed debug message and bump controller image to 1.3.1
  TAG
  cmd/sidecar.go
  helm/Chart.yaml
  helm/values.yaml
Labels: controller, helm

DEVOPS-2019: Bump chart version to 4.6.2
  helm/Chart.yaml
Labels: none

DEVOPS-2023: Bump sidecar image to 4.6.3-2
  Makefile
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DEVOPS-2023: Bump chart version to 4.6.3
  helm/Chart.yaml
Labels: none

DEVOPS-2026: Add ability to use external Tarantool instance
  helm/ci/deployment-external-tarantool-values.yaml
  helm/templates/_helpers.tpl
  helm/templates/controller-configmap.yaml
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/templates/postanalytics-pdb.yaml
  helm/templates/postanalytics-service.yaml
  helm/templates/postanalytics-serviceaccount.yaml
  helm/values.yaml
Labels: helm

DEVOPS-2026: Bump chart version to 4.6.4
  helm/Chart.yaml
Labels: none

DEVOPS-2184: Fix issue when proxy-extra-volume-mounts was not properly templated
  cmd/template.go
  files/template.yaml.tpl
Labels: controller

DEVOPS-2184: Add tests for extra volumes annotation
  .github/workflows/test.yaml
  Makefile
  helm/test/integration_test.py
  helm/test/kustomize/base/configmap.yaml
  helm/test/kustomize/base/kustomization.yaml
  helm/test/kustomize/patches/test_extra_volumes/deployment.yaml
  helm/test/kustomize/patches/test_extra_volumes/kustomization.yaml
  helm/test/kustomize/patches/test_extra_volumes/service.yaml
Labels: ci, tests

DEVOPS-2184: Bump controller to 1.3.2 and chart to 4.6.5
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DEVOPS-2167: Bump images and chart version to 4.8.0
  Makefile
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DEVOPS-2167: Add parameter wallarm-acl-export-enable
  files/template.yaml.tpl
  helm/templates/postanalytics-configmap.yaml
  helm/values.yaml
Labels: controller, helm

DEVOPS-2167: Add parameter wallarm-node-group
  files/template.yaml.tpl
  helm/templates/_helpers.tpl
  helm/templates/postanalytics-deployment.yaml
  helm/templates/shared-secret.yaml
  helm/values.yaml
Labels: controller, helm

DEVOPS-2167: Bump Golang version to 1.21 and upgrade dependencies
  Dockerfile
  go.mod
  go.sum
  helm/values.dev.yaml
Labels: controller

DEVOPS-2167: Bump controller to 1.3.3
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

Create dependabot.yml
  .github/dependabot.yml
Labels: ci

DEVOPS-2281 Switch to CI k8s cluster
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/test.yaml
Labels: ci

DEVOPS-2329 Release sidecar 4.8.1
  Makefile
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DEVOPS-2237: Update Golang dependencies
  go.mod
  go.sum
Labels: controller

Initial commit, AIO migration
  Dockerfile
  Makefile
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/values.yaml
Labels: controller, helm

tmp comment upx
  Dockerfile
Labels: controller

fix goarch
  Dockerfile
Labels: controller

switch ci to amd64 only to avoid push
  .github/workflows/ci.yaml
Labels: ci

fix tag
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

fix tmpl
  files/template.yaml.tpl
Labels: controller

fix helper container
  files/template.yaml.tpl
Labels: controller

DE-11 fix iptables for arm64
  files/template.yaml.tpl
  helm/test/integration_test.py
  helm/values.yaml
Labels: tests, controller, helm

return upx
  Dockerfile
Labels: controller

DE-11 pod logs for integration test
  helm/test/integration_test.py
Labels: tests

review adjustments
  Dockerfile
  helm/Chart.yaml
  helm/values.yaml
Labels: controller, helm

Test main branch
  helm/templates/_helpers.tpl
Labels: helm

add debug levels
  helm/templates/postanalytics-configmap.yaml
  helm/values.yaml
Labels: helm

adjust build ci flow
  .github/workflows/build.yaml
Labels: ci

fix fallback
  helm/templates/postanalytics-deployment.yaml
Labels: helm

add apifw env var
  files/template.yaml.tpl
  helm/values.yaml
Labels: controller, helm

DE-11 Release sidecar 4.10.2
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/test.yaml
  .github/workflows/update_versions.yaml
  .github/workflows/upstream_update.yaml
  Dockerfile
  Makefile
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/test/integration_test.py
  helm/test/kustomize/base/configmap.yaml
  helm/test/kustomize/base/deployment.yaml
  helm/values.yaml
  kind/docker/manifests/init/pytest.yaml
Labels: ci, tests, controller, helm

Fixup helm publishing for rc
  .github/workflows/helm_publish.yaml
Labels: ci

Implement smoke tests
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  Makefile
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
  test/smoke/workload.yaml
Labels: ci

review fix v1
  .github/workflows/ci.yaml
  test/smoke/run.sh
Labels: ci

DE-58 Bump golang to 1.22.2 and its deps. Bump Alpine to 3.19
  Makefile
  go.mod
  go.sum
  helm/values.dev.yaml
Labels: controller
