Repository wallarm/sidecar, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, controller, documentation, helm

.github/labeler.yml:

ci:
- '.github/**/*'

tests:
- 'helm/test/**/*'

controller:
- 'cmd/*'
- 'files/*'
- 'Dockerfile'
- 'go.*'

documentation:
- 'README.md'
- 'helm/README.md'

helm:
- any: ['helm/**/*', '!helm/values.*.yaml','!helm/Chart.yaml', '!helm/test/**/*', '!helm/README.md']

CI: Aligned chart version with Node upstream project
  helm/Chart.yaml
Labels: none

CI: Fix update versions flow
  .github/workflows/update_versions.yaml
  .github/workflows/upstream_update.yaml
  helm/Chart.yaml
Labels: ci

CI: Aligned chart version with Node upstream project
  helm/Chart.yaml
Labels: none

DEVOPS-1856 Refactor CI, add image signing
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/test.yaml
  .github/workflows/test_pr.yaml
  .github/workflows/upstream_update.yaml
  Makefile
  TAG
Labels: ci

DEVOPS-1863 Implement 'existingSecret' feature
  cmd/admission.go
  cmd/config.go
  cmd/inject.go
  cmd/sidecar.go
  files/template.yaml.tpl
  helm/templates/_helpers.tpl
  helm/values.yaml
Labels: controller, helm

DEVOPS-1863 Added chart testing
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  .github/workflows/upstream_update.yaml
  Makefile
  helm/ci/deployment-existing-secret-values.yaml
  helm/ci/deployment-values.yaml
  helm/test/run_chart_tests.sh
Labels: ci, tests, helm

DEVOPS-1863 Bump Golang version and deps. Bump Alpine version.
  Dockerfile
  go.mod
  go.sum
  helm/values.dev.yaml
Labels: controller

DEVOPS-1863 Fix component version, now it points to Helm chart version
  files/template.yaml.tpl
  helm/templates/_helpers.tpl
  helm/templates/controller-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
Labels: controller, helm

Fix antibot tag
  .github/workflows/update_versions.yaml
  helm/values.yaml
Labels: ci, helm

DEVOPS-1863 Fix typos in values.yaml
  helm/values.yaml
Labels: helm

DEVOPS-1863 Set controller replica count to 1
  helm/values.yaml
Labels: helm

DEVOPS-1863 Bump controller tag to 1.1.0 and chart version to 4.4.4
  .github/workflows/ci.yaml
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: ci, helm

DEVOPS-1855 Added 'Update package version' job in 'Helm publish' workflow
  .github/workflows/helm_publish.yaml
Labels: ci

DEVOPS-1855 Update 'update_versions' workflow to do not call publish helm directly
  .github/workflows/update_versions.yaml
Labels: ci

CI: fix 'helm_publish' workflow
  .github/workflows/build.yaml
  .github/workflows/ci.yaml
  .github/workflows/helm_publish.yaml
  .github/workflows/test.yaml
Labels: ci

DEVOPS-1888 Set 'fallback' and 'enableLibDetection' on by default
  helm/values.yaml
Labels: helm

DEVOPS-1888 Bump chart version to 4.4.5
  helm/Chart.yaml
Labels: none

DEVOPS-1918: Bump controller tag to 1.1.0 to fire the build and sign image using Cosign v2
  .github/workflows/build.yaml
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: ci, helm

DEVOPS-1918: Bump chart version to 4.6.0 and upgrade Node/Helpers versions
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DEVOPS-1918: Fix helm_publish workflow - add sleep 20 seconds
  .github/workflows/helm_publish.yaml
Labels: ci

DEVOPS-1918: Bump controller's Alpine version to 3.17.2
  Dockerfile
Labels: controller

DEVOPS-1974: Add parameters for syncNode task in sidecar. Add `application-protocol` annotation.
  files/template.yaml.tpl
  helm/values.yaml
Labels: controller, helm

DEVOPS-1974: Bump Golang version to 1.20. Bump golang dependencies. Bump Alpine version to 3.18
  Dockerfile
  go.mod
  go.sum
Labels: controller

DEVOPS-1974: Remove heartbeat container. Bump helper images.
  Makefile
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/values.yaml
Labels: helm

DEVOPS-1974: Add profiles to config
  cmd/admission.go
  cmd/admission_test.go
Labels: controller

Add simple unit-tests for admission.go
  cmd/admission_test.go
Labels: controller

DEVOPS-1974: Update warning messages if profile not found.
  cmd/admission.go
  cmd/admission_test.go
Labels: controller

DEVOPS-1974: Bump golang dependency prometheus
  go.mod
  go.sum
Labels: controller

DEVOPS-1974: Fix typo
  helm/templates/postanalytics-deployment.yaml
Labels: helm

DEVOPS-1974: Update checksum and config annotations for controller and postanalytics
  helm/templates/controller-deployment.yaml
  helm/templates/postanalytics-deployment.yaml
Labels: helm

DEVOPS-1974: Put profile into sidecar context
  cmd/admission.go
  cmd/admission_test.go
  cmd/sidecar.go
Labels: controller

DEVOPS-1974: Added templates for sidecar
  files/template.yaml.tpl
  helm/values.yaml
Labels: controller, helm

DEVOPS-1974: refactor sidecar.go
  cmd/sidecar.go
Labels: controller

DEVOPS-1974: Removed default for terminationGracePeriodSeconds
  helm/templates/controller-deployment.yaml
  helm/templates/postanalytics-deployment.yaml
Labels: helm

DEVOPS-1974: update values.dev.yaml with new image golang:1.20.4-alpine3.18
  helm/values.dev.yaml
Labels: none

DEVOPS-1974: Update example profile in values.yaml
  helm/values.yaml
Labels: helm

DEVOPS-1974: Bump versions: sidecar to 4.6.2-1 and controller to 1.3.0
  TAG
  helm/values.yaml
Labels: helm

DEVOPS-1974: Chart version to 4.6.1
  helm/Chart.yaml
Labels: none

DEVOPS-1974: Fix PDB Api Version
  helm/templates/_version.tpl
  helm/templates/controller-pdb.yaml
  helm/templates/postanalytics-pdb.yaml
Labels: helm

DEVOPS-2019: Bump sidecar image to 4.6.3-1
  Makefile
  helm/Chart.yaml
  helm/values.yaml
Labels: helm
