Repository wallarm/sidecar, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, tests, controller, documentation, helm

.github/labeler.yml:

ci:
- '.github/**/*'

tests:
- 'helm/test/**/*'

controller:
- 'cmd/*'
- 'files/*'
- 'Dockerfile'
- 'go.*'

documentation:
- 'README.md'
- 'helm/README.md'

helm:
- any: ['helm/**/*', '!helm/values.*.yaml','!helm/Chart.yaml', '!helm/test/**/*', '!helm/README.md']

DE-58 Bump controller tag to 1.3.6
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DE-58 Update version for Kube validation
  .github/workflows/test.yaml
Labels: ci

DE-58 Update Docker labels
  Dockerfile
  Makefile
Labels: controller

DE-58 Update CI ref for reusable workflow
  .github/workflows/ci.yaml
Labels: ci

DE-58 Add logs handler for smoke/run.sh
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
Labels: none

DE-58 Fix controller image tag in smoke/run.sh
  test/smoke/run.sh
Labels: none

DE-58 Bump Pytest workers 10 -> 15
  test/smoke/run-smoke-suite.sh
Labels: none

DE-58 Bump k8s versions for all tests (installation, smoke and chart testing)
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  test/smoke/run.sh
Labels: ci

DE-58 Bump Node and Chart versions to 4.10.4
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DE-81 Fix Docker labels for controller image
  Dockerfile
Labels: controller

DE-81 Bump controller tag to 1.3.7
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

DE-81 Bump runner for 'Build release' to 4 CPU
  .github/workflows/build.yaml
Labels: ci

DE-78 Add Allure tag GITHUB_REPO
  test/smoke/run-smoke-suite.sh
Labels: none

DE-81 Bump Node and Chart versions to 4.10.5
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

[DE-85] Fix smoke test pipeline
  .github/workflows/test.yaml
Labels: ci

Test main branch
  helm/templates/_helpers.tpl
Labels: helm

DE-105 Release 4.10.6
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

save workflow logs after smoke-tests
  test/smoke/run-smoke-suite.sh
Labels: none

fix app search
  test/smoke/run-smoke-suite.sh
Labels: none

NODE-5391 Refactor certificate generation for admission webhook
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  .gitignore
  Makefile
  helm/templates/_helpers.tpl
  helm/templates/controller-deployment.yaml
  helm/templates/controller-webhook-certmgr.yaml
  helm/templates/controller-webhook-secret.yaml
  helm/templates/controller-webhook.yaml
  helm/templates/job-patch/clusterrole.yaml
  helm/templates/job-patch/clusterrolebinding.yaml
  helm/templates/job-patch/job-createSecret.yaml
  helm/templates/job-patch/job-patchWebhook.yaml
  helm/templates/job-patch/role.yaml
  helm/templates/job-patch/rolebinding.yaml
  helm/templates/job-patch/serviceaccount.yaml
  helm/test/integration_test.py
  helm/values.yaml
  test/smoke/run.sh
Labels: ci, tests, helm

PROD-2382 Release 4.10.7
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  helm/Chart.yaml
  helm/values.yaml
Labels: ci, helm

NODE-5401 Migration to wcli scripts
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/templates/_helpers.tpl
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/values.yaml
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
Labels: controller, helm

PROD-2382 Release 4.10.7
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  helm/Chart.yaml
  helm/values.yaml
Labels: ci, helm

NODE-5562 Fix CI to run smoke tests in split/single modes properly
  .github/workflows/ci.yaml
Labels: ci

NODE-5562 Bump golang to 1.22.5. Bump Alpine to 3.20
  Dockerfile
  Makefile
  go.mod
  helm/values.dev.yaml
Labels: controller

NODE-5562 Bump controller image tag to 1.3.8
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5563 Add sidecar-proxy logs in case of smoke is failed
  test/smoke/run-smoke-suite.sh
Labels: none

NODE-5563 Add wallarm-api volume mounts for split mode
  files/template.yaml.tpl
Labels: controller

NODE-5563 Fix comments in Makefile
  Makefile
Labels: none

NODE-5564 Added nginx_worker* config parameters
  files/template.yaml.tpl
  helm/values.yaml
Labels: controller, helm

NODE-5564 Removed NOTES.txt
  helm/templates/NOTES.txt
Labels: helm

NODE-5559 Release 4.10.8
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5576 Release 4.10.9
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

hotfix: bump controller tag to 1.3.9
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

hotfix: Release 4.10.9
  helm/Chart.yaml
Labels: none

NODE-5576 Release 4.10.9
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

NODE-5401 Migration to wcli scripts
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/templates/_helpers.tpl
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/values.yaml
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
Labels: controller, helm

NODE-5583 add mandatory function
  .github/workflows/ci.yaml
  example-env.ini
  test/smoke/functions.sh
  test/smoke/run-smoke-suite.sh
  test/smoke/run.sh
Labels: ci

NODE-5583 add dockerhub auth
  .github/workflows/ci.yaml
  test/smoke/run.sh
  test/smoke/workload.yaml
Labels: ci

NODE-5401 Migration to wcli scripts
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/templates/_helpers.tpl
  helm/templates/postanalytics-configmap.yaml
  helm/templates/postanalytics-deployment.yaml
  helm/values.yaml
  test/smoke/run-smoke-suite.sh
Labels: controller, helm
