Repository wallarm/sidecar, pull requests merged in 2024-07, with the labels that each got.

#163 PROD-2382 Release 4.10.7
  .github/workflows/ci.yaml
  .github/workflows/test.yaml
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

#166 NODE-5562 Update Golang and Alpine versions for the controller
  .github/workflows/ci.yaml
  Dockerfile
  Makefile
  TAG
  go.mod
  helm/Chart.yaml
  helm/values.dev.yaml
  helm/values.yaml
Labels: ci

#168 NODE-5563 Fix APIFW in split mode
  Makefile
  files/template.yaml.tpl
  test/smoke/run-smoke-suite.sh
Labels: helm, ci

#169 NODE-5564 Added nginx_worker* config parameters
  files/template.yaml.tpl
  helm/templates/NOTES.txt
  helm/values.yaml
Labels: helm, controller

#167 NODE-5559 Release 4.10.8
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

#171 Release 4.10.9 (hotfix)
  TAG
  helm/Chart.yaml
  helm/values.yaml
Labels: helm

#170 NODE-5576 Release 4.10.9
  helm/Chart.yaml
  helm/values.yaml
Labels: helm
