Repository wallarm/sidecar, pull requests merged in 2025-01, with the labels that each got.

#203 NODE-5873 add configurable APIWF parameters to Sidecar Helm chart
  TAG
  cmd/config.go
  cmd/template.go
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/values.yaml
  test/smoke/functions.sh
  test/smoke/run.sh
Labels: helm, controller

#208 NODE-5873 add configurable APIFW parameters to Sidecar Helm chart
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/values.yaml
Labels: controller

#206 NODE-5565 Add configuration parameter for Nginx extended logs
  TAG
  files/template.yaml.tpl
  helm/Chart.yaml
  helm/values.yaml
Labels: helm, controller

#210 NODE-6133 Release 5.3.0
  helm/Chart.yaml
  helm/values.yaml
Labels: helm
